* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
  padding: 5%;
}

td {
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
}

.ticked {
  background-color: black;
  color: white;
}

.main {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.currentNumber {
  margin-top: 10px;
}

.buttonContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pickNumber {
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: green;
  color: white;
}

.resetNumber {
  width: 100px;
  padding: 7px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: red;
  color: white;
  margin-top: 50px;
}